// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$base-light-1: #FCFCFC;
$base-light-2: #E1E1E1;
$base-light-3: #dddddd;
$base-light-4: #EDEDED;

$base-dark-1: #111727;
$base-dark-2: #121212;
$base-dark-3: #070707;
$base-dark-4: #212222;
$base-dark-5: #888888;
$base-dark-6: #383838;

$primary: #E1E1E1;
$secondary: #1d2937;
$accent: #F1F1F1;

$dark: #111727;
$dark-page: #1d2937;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

// $positive: #ffffff;
// $negative: #C10015;
// $info: #5A7ACD;
// $warning: #FEB05D;